<div *ngIf="user">
  <h3>Mon compte</h3>
  <p><strong>Nom :</strong> {{ user.LastName }}</p>
  <p><strong>Prénom :</strong> {{ user.FirstName }}</p>
  <p><strong>Email :</strong> {{ user.Email }}</p>

  <!-- Onglets toujours visibles -->
  <ul class="nav nav-tabs mt-4">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'patient'" (click)="activeTab = 'patient'">Patient</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'healthcareprofessional'" (click)="activeTab = 'healthcareprofessional'">Professionnel</a>
    </li>
  </ul>

  <!-- Contenu des onglets -->
  <div class="tab-content border p-3 mt-2">
    <!-- Onglet Patient -->
    <div *ngIf="activeTab === 'patient'" class="tab-pane active">
      <ng-container *ngIf="user.Patient; else notPatient">
        <h5>Informations Patient</h5>
        <p><strong>Date de naissance :</strong> {{ user.Patient?.Birthday }}</p>
        <p><strong>Genre :</strong> {{ user.Patient?.Gender }}</p>
        <p><strong>Adresse :</strong> {{ user.Patient?.Address }}</p>
        <p><strong>N° Sécurité Sociale :</strong> {{ user.Patient?.SocialSecurityNumber }}</p>
        <p><strong>Structure :</strong> {{ user.Patient?.Structure?.Name || 'Non assignée' }}</p>

        <div *ngIf="prescriptions.length > 0" class="mt-4">
          <h5>Prescriptions</h5>
          <div *ngFor="let prescription of prescriptions" class="border p-2 mb-2">
            <p><strong>Du :</strong> {{ prescription.StartDate | date }} <strong>au</strong> {{ prescription.EndDate | date }}</p>
            <ul>
              <li *ngFor="let act of prescription.PrescriptionHealthcareActs">
                {{ act.HealthcareAct?.Name }} - {{ act.OccurrencesPerDay }} fois/jour
              </li>
            </ul>
          </div>
        </div>

      </ng-container>

      <ng-template #notPatient>
        <p>Vous n'avez pas encore de profil patient.</p>
        <button class="btn btn-primary" (click)="goToRegister('patient')">Devenir Patient</button>
      </ng-template>
    </div>

    <!-- Onglet Professionnel -->
    <div *ngIf="activeTab === 'healthcareprofessional'" class="tab-pane active">
      <ng-container *ngIf="user.HealthcareProfessional; else nothealthcareprofessional">
        <h5>Informations Professionnel</h5>
        <p><strong>Spécialité :</strong> {{ user.HealthcareProfessional?.Speciality }}</p>
        <p><strong>Structures :</strong>
          <span *ngIf="user.HealthcareProfessional?.Structures?.length; else noStruct">
            <span *ngFor="let s of user.HealthcareProfessional.Structures; let i = index">
              {{ s.Name }}<span *ngIf="i < user.HealthcareProfessional.Structures!.length - 1">, </span>
            </span>
          </span>
          <ng-template #noStruct>Non assigné</ng-template>
        </p>
        <p><strong>IDN :</strong> {{ user.HealthcareProfessional?.IDN }}</p>
      </ng-container>

      <ng-template #nothealthcareprofessional>
        <p>Vous n'avez pas encore de profil professionnel de santé.</p>
        <button class="btn btn-primary" (click)="goToRegister('healthcareprofessional')">Devenir Professionnel</button>
      </ng-template>
    </div>
  </div>
</div>