<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Proxicare</a>

    <ng-container *ngIf="auth.user$ | async as user; else notLoggedIn">
      <app-logout-button></app-logout-button>
      <img [src]="user.picture" alt="photo de profil">
    </ng-container>

    <ng-template #notLoggedIn>
      <app-login-button></app-login-button>
    </ng-template>

    <!-- Hamburger button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *hasRole="[RolesEnum.PATIENT, RolesEnum.HEALTHCAREPROFESSIONAL]" class="nav-item">
          <a class="nav-link" routerLink="/planning">Planning</a>
        </li>
        <li *hasRole="RolesEnum.ADMIN" class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li *hasRole="RolesEnum.USER" class="nav-item">
          <a class="nav-link" routerLink="/account">Account</a>
        </li>
        <li *hasRole="RolesEnum.HEALTHCAREPROFESSIONAL" class="nav-item">
          <a class="nav-link" routerLink="/manage-acts">Manage Acts</a>
        </li>
        <li *hasRole="RolesEnum.STRUCTURE" class="nav-item">
          <a class="nav-link" routerLink="/create-prescription">Create Prescription</a>
        </li>
        <li *hasRole="RolesEnum.HEALTHCAREPROFESSIONAL" class="nav-item">
          <a class="nav-link" routerLink="/prescriptions-to-plan">Prescription Plan</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
