.calendar-container{
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
        width: 95%;
    }
}

::ng-deep .fc .fc-toolbar{
    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        row-gap: 5px;
    }
}

.error {
  color: #d32f2f;              /* Rouge vif pour l'erreur */
  background-color: #fddede;   /* Rouge très pâle pour le fond */
  border: 1px solid #d32f2f;   /* Bordure rouge */
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1rem;
  width: 90vw;
  display: flex;
  justify-self: center;
}